<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/test.css">
  <title>Test Map Connection</title>
</head>
<body onload = "{% for val in vals %}change({{ val }});{%endfor%}">

  <div id="div1" style="cursor:pointer; width: 100px; height: 100px; top:0; left:0; border:1px solid #777; position:absolute;" onclick="change(0);"><h1>1</h1></div>
  <div id="div2" style="cursor:pointer; width: 100px; height: 100px; top:300px; left:300px; border:1px solid #333; position:absolute;" onclick="change(2);"><h1>3</h1></div>
  <div id="div2" style="cursor:pointer; width: 100px; height: 100px; top:0px; left:250px; border:1px solid #29e; position:absolute;"
  onclick="change(1);"><h1>2</h1></div>
  <div id="div2" style="cursor:pointer; width: 100px; height: 100px; top:130px; left:0px; border:1px solid rgb(145, 25, 145); position:absolute;"
  onclick="change(3);"><h1>4</h1></div>
  
  <svg  width="1" height="1" z-index="-1" overflow="visible">
    <line id="line1" opacity=0 x1="50" y1="50" x2="300" y2="50" stroke="black" />
    <line id="line2" opacity=0 x1="300" y1="50" x2="350" y2="350" stroke="black" />
    <line id="line3" opacity=0 x1="350" y1="350" x2="50" y2="180" stroke="black" />
    <line id="line4" opacity=0 x1="50" y1="180" x2="50" y2="50" stroke="black" />
    <line id="line5" opacity=0 x1="50" y1="180" x2="300" y2="50" stroke="black" />
    <line id="line6" opacity=0 x1="350" y1="350" x2="50" y2="50" stroke="black" />
  </svg>
  <script>
    lines = [document.getElementById("line1"),document.getElementById("line2"), document.getElementById("line3"), document.getElementById("line4"), document.getElementById("line5"), document.getElementById("line6")];
    function change(i) {
      lines[i].style.opacity = 1 - lines[i].style.opacity;
    }
  </script>
</body>
</html>